body {
  background-image: url('../images/fondo_naipes.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}