body {
  background-image: url('../images/fondo_naipes.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-size: 28px; /* Aumentar el tamaño de la fuente */
  font-weight: bold; /* Negrita */
  color: #FFD700; /* Color dorado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  letter-spacing: 1px; /* Espaciado entre letras */
  transition: color 0.3s ease; /* Transición suave para cambios de color */
}

.navbar-brand:hover {
  color: #FFEA00; /* Color más claro al pasar el ratón */
}