body {
  background-image: url('../images/fondo_naipes.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand {
  font-size: 28px; /* Aumentar el tamaño de la fuente */
  font-weight: bold; /* Negrita */
  color: #FFD700; /* Color dorado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  letter-spacing: 1px; /* Espaciado entre letras */
  transition: color 0.3s ease; /* Transición suave para cambios de color */
}

.navbar-brand:hover {
  color: #FFEA00; /* Color más claro al pasar el ratón */
}

/* Ajuste del contenedor para reducir el ancho */
.navbar .container {
  max-width: 1100px; /* Reduce el ancho del navbar */
}

/* Ajuste del logo */
.navbar img {
  width: 40px;  /* Disminuye el tamaño del logo */
  height: auto; /* Mantiene la proporción */
  margin-right: 10px; /* Reduce el espacio derecho */
}

/* Ajuste del título */
.navbar-brand {
  font-size: 24px;
  margin-left: 100px; /* Reduce la separación del título */
}

/* Ajuste de los márgenes del contenido */
.container.mt-5 {
  margin-top: 20px !important;  /* Reduce el margen superior */
  margin-bottom: 10px !important; /* Reduce el margen inferior */
}