@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/inter-light.woff2?v=3.13") format("woff2"), url("../../assets/fonts/inter-light.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/inter-regular.woff2?v=3.13") format("woff2"), url("../../assets/fonts/inter-regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/inter-medium.woff2?v=3.13") format("woff2"), url("../../assets/fonts/inter-medium.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/inter-bold.woff2?v=3.13") format("woff2"), url("../../assets/fonts/iter-bold.woff?v=3.13") format("woff");
}
 */

/* .auth-body-bg {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );

} */

.auth-body-bg {
  background-image: url(../../assets/images/bg06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.8;
  background-color: #000;
}
.auth-body-bg .bg-overlay {
  background: rgba(51, 51, 51, 0.97);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0px;
  top: 0px;
}

.wrapper-page {
  margin: 7.5% auto;
  max-width: 460px;
  position: relative;
}
.wrapper-page .auth-logo {
  font-size: 28px;
  line-height: 70px;
}
.wrapper-page .auth-logo.logo-light {
  display: none;
}
.wrapper-page .auth-logo.logo-dark {
  display: block;
}

/* Estilos para la información del registro */
.tooltip-container {
    position: relative; /* Contenedor relativo para el posicionamiento del tooltip */
    display: inline-block;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.icon {
    display: inline-block;
    font-size: 16px; /* Tamaño del ícono */
    background-color: #6b8198; /* Color de fondo del ícono */
    color: white; /* Color del texto del ícono */
    padding: 5px;
    border-radius: 50%; /* Forma circular */
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px; /* Centrar texto verticalmente */
}

.tooltip-message {
    visibility: hidden; /* Oculta el mensaje inicialmente */
    opacity: 0; /* Totalmente transparente */
    width: 250px; /* Ancho del mensaje */
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px;
    position: absolute;
    z-index: 1; /* Coloca el mensaje por encima de otros elementos */
    bottom: 150%; /* Posición sobre el ícono */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%);
    transition: opacity 0.3s; /* Animación de aparición */
}

.tooltip-message::after {
    content: ""; /* Triángulo del tooltip */
    position: absolute;
    top: 100%; /* Debajo del tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Color del triángulo */
}

.tooltip-container:hover .tooltip-message {
    visibility: visible; /* Muestra el mensaje */
    opacity: 1; /* Totalmente visible */
}