/* Estilos generales para el tablero */

 #tablero {
  display: flex;
  flex-wrap: wrap;  /* ajusta elementos en las filas*/
  gap: 1px;  /* da espacio al elemento*/
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center; 
  align-items: center;  
  padding: 0; 
  width: 100%; 
  max-width: 80%; /* limito el ancho para que no desborde*/
  margin: 0 auto;
}



.carta {
  position: relative;
 /*  margin: 0; 
  padding: 0;  */
  width: 100px;  
  height: 130px; 
  border: 3px solid #000;
  display: flex;
  justify-content: center;  
  align-items: center;  
  /* background: radial-gradient(circle,#0109f0 10%, #FFFFFF 60%); */
 /*  background: linear-gradient(to right,#0109f0 10%, #e9ed00 60%); */
  
  background:  #d3971d;
  font-size: 2rem;
  color: #333;
  transition: transform 0.5s;
  cursor: pointer;
  flex: 0 1 calc(12.5% - 1px); /* Para 8 cartas por fila restando el gap */
  box-sizing: border-box; /* Asegura que el tamaño incluye el borde */
  border-radius: 5px;
}

/* Descomentar */
.imagen-carta {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: none; 
}

/* Efecto de voltear la carta */
.carta:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo cuando una carta está volteada */
.carta.acertada {
  /* background-color: #4caf50; */
  background: linear-gradient(to right, #4caf50, #4caf50, #4caf50);
  color: white;
  font-weight: bold;
}


/* Estilos para la tarjeta que contiene el tablero y la información */
.card {
  border-radius: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.botones {
  display: flex;
  width: 90%;
  gap: 10px; 
  justify-content: center;
  align-items: center;
  margin: 20px auto; 
  cursor: pointer;
}

.btn-accion {
  flex: 1; 
  max-width: 50%; 
  padding: 15px 0; 
  font-size: 18px; 
  text-align: center;
}

/* Ajuste responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .botones {
    flex-direction: column; 
    width: 100%; /
  }

  .btn-accion {
    max-width: 100%; /* Los botones ocupan todo el ancho en pantallas pequeñas */
  }
}

/* Aseguramos que las cartas no se desborden en pantallas pequeñas */
@media (max-width: 576px) {
  #tablero {
      grid-template-columns: repeat(2, 1fr); /* mostrar 2 columnas */
  }
  .carta {
    width: calc(100% / 4 - 10px);
  }
}

.responsivo {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}

/* Estilo de la tabla  ranking*/
#rankingTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

/* Estilo de la fila y celdas de la tabla */
#rankingTable th, #rankingTable td {
  text-align: center;
  padding: 8px;
  white-space: nowrap; /* no se rompe el texto en lineas*/
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  #rankingTable th, #rankingTable td {
    padding: 6px; 
    font-size: 14px; 
  }
}

@media (max-width: 576px) {
  #rankingTable th, #rankingTable td {
    padding: 4px;
    font-size: 12px; 
  }
}
/* 
@media (min-width: 1200px) {
  #tablero {
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
  }
  .carta {
    width: 90px;
    height: 90px;
  }
} */

/* #tablero {
  display: grid;
  grid-template-columns: repeat(8, 1fr);  
  gap: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-items: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 3px;
}
 */
/* .carta {
  position: relative;
  margin: 0x; 
  padding: 0;  
  width: 95px;  
  height: 95px; 
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to right, #EFB036, #09122C, #BE3144);
  font-size: 2rem;
  color: #333;
  transition: transform 0.5s;
  cursor: pointer;
 
} */